@font-face
	font-family ChaletParis
	font-style normal
	font-weight normal
	src url('assets/fonts/chalet/paris-nineteen-sixty.eot')
	src url('assets/fonts/chalet/paris-nineteen-sixty.eot?#iefix') format('embedded-opentype'),
			url('assets/fonts/chalet/paris-nineteen-sixty.woff') format('woff'),
			url('assets/fonts/chalet/paris-nineteen-sixty.ttf') format('truetype'),
			url('assets/fonts/chalet/paris-nineteen-sixty.svg#chaletmedium') format('svg')
			
@font-face
	font-family ChaletNewYork
	font-style normal
	font-weight normal
	src url('assets/fonts/chalet/newyork-nineteen-sixty.eot')
	src url('assets/fonts/chalet/newyork-nineteen-sixty.eot?#iefix') format('embedded-opentype'),
			url('assets/fonts/chalet/newyork-nineteen-sixty.woff') format('woff'),
			url('assets/fonts/chalet/newyork-nineteen-sixty.ttf') format('truetype'),
			url('assets/fonts/chalet/newyork-nineteen-sixty.svg#chaletmedium') format('svg')
			
@font-face
	font-family ChaletLondon
	font-style normal
	font-weight normal
	src url('assets/fonts/chalet/london-nineteen-sixty.eot')
	src url('assets/fonts/chalet/london-nineteen-sixty.eot?#iefix') format('embedded-opentype'),
			url('assets/fonts/chalet/london-nineteen-sixty.woff') format('woff'),
			url('assets/fonts/chalet/london-nineteen-sixty.ttf') format('truetype'),
			url('assets/fonts/chalet/london-nineteen-sixty.svg#chaletmedium') format('svg')
