#m
	.featured-press-room
		background-position center
		background-repeat no-repeat
		background-size cover
		height 100vh
		margin 0 0 50px 0
		overflow hidden
		
		> .container
			height 100vh
			position relative
		
			.featured-event
				bottom 280px
				font-family ChaletParis
				position absolute
				
				.title
					background-color brown
					color blue
					font-size 13px
					margin 0 -100% 0 796px
					padding 4px 4px 3px 4px
					text-transform uppercase
					
					a
						color blue
						text-decoration none
					
				.event
					color blue
					font-size 70px
					text-align right
					
					a
						color blue
						text-decoration none
					
			.carousel
				bottom 51px
				height 207px
				margin 22px 0 0 0
				overflow hidden
				position absolute  
				
				.container
					max-width 100%
				
					.carousel-list
						margin 0 auto
						position relative
						width 920px
						
						.item
							display block
							float left
							margin 37px 11px 0 10px
							transition all 0.5s
							width 296px
							
							a									
								display block
								text-decoration none
							
								img
									border 1px solid #494949
									display block
									width 294px
									
							.title
								background-color blue
								border 1px blue solid
								border-top none
								color brown
								font-family ChaletParis
								font-size 18px
								padding 10px 15px
						
						.item:first-child
							margin-left 0
							
						.item:last-child						
							margin-right 0
							
						.item:hover
							margin-top 0
															
						.owl-controls
							.owl-nav
								.owl-prev,
								.owl-next
									background-color blue
									background-image url('assets/img/sprite_carousel_arrows.png')
									background-position 0 0
									border-radius 0
									display: block !imporant;
									height 33px
									margin 0
									opacity 1
									padding 0
									position absolute
									hide-text()
									top 106px
									z-index 1
									width 25px
									
								.owl-prev
									left -10px
															
								.owl-next
									background-position -25px 0
									left initial
									right -5px
			
			.scroll-down-wrapper
				bottom 0
				left 0
				position absolute
				text-align center
				width 100%

				.scroll-down
					background-color transparent
					border none
					cursor pointer
					height 11px
					position relative
					top -14px
					width 22px
					
					span
						background-color blue
						bottom 0
						display block
						height 2px
						margin 0 0 4px 0
						position absolute
						width 16px
											
						&:first-child
							left -2px
							transform rotate(45deg)
							
						&:last-child
							right -3px
							transform rotate(-45deg)
						
	.featured-press-room-mobile-wrapper
		font-family ChaletParis
		height 100vh
		margin 0 0 90px 0
		position relative
		
		.title
			background-color brown
			color blue
			font-size 13px
			padding 4px 24px 3px 4px
			position absolute
			right 0
			text-transform uppercase
			top 600px
			z-index 2
			
			a
				color blue
				text-decoration none
		
		.carousel
			height 100%
			width 100%
			
			.slide
				background-position center
				background-repeat no-repeat
				background-size cover
				height 100vh
				width 100%
				
				.event
					color blue
					font-size 70px
					position absolute
					right 25px
					text-align right
					top 627px
					
					a
						color blue
						text-decoration none
				
			.owl-controls
				height 14px
				margin 23px 0 0 0
				text-align center
				
				.owl-dot
					background-color white
					border blue
					border-radius 100%
					display inline-block					
					height 14px
					margin 0 9px 0 0
					width 14px
					
					&.active
						background-color blue
						
					&:last-child
						margin-right 0
		
	.overview
		color brown
		font-size 24px
		font-weight 300
		line-height 30px
		margin 0 0 55px 0		
		text-align center
		
		p
			padding 0 150px
			
			a
				color brown
				text-decoration none
