.page-template-portfolio
	#m
		.header
			height 385px
			overflow hidden
			text-align center

		.container
			padding-top 30px
			
		.portfolio-grid-wrapper
			margin-bottom 0
			
			.container
				.portfolio-grid
					.portfolio
						height 300px
						
						img
							max-width 100%
