.single-pressroom
	#m
		.header
			background-size cover
			height 1200px
			
		.container-wrapper
			position absolute
			top 538px
			width 100%
			
			.container
				container(780px)
				
				.title
					background-color brown
					color white
					font-family ChaletParis
					font-size 38px
					margin-left -100%
					padding 20px 0
					padding-left 100%
					
				.download-wrapper
					clearfix()
					
					.btn-download
						font-size 18px
						padding 26px 20px
					
				.post-content-wrapper
					.post-content
						background-color white
						color brown
						font-size 18px
						height 425px
						overflow hidden
						padding 30px
						position relative
						transition all 0.5s
						z-index 4
						
						p
							font-weight 300
							line-height 30px
							margin 0 0 30px 0
							
							strong
								font-weight 400
							
					.read-more-wrapper
						background-color white
						border-top 1px solid tea
						bottom -11px
						height 10px
						position absolute
						text-align center						
						width 780px
						
						.read-more
							background-color blue
							border 0
							bottom 1px
							color white
							cursor pointer
							font-family ChaletParis
							font-size 14px
							line-height 14px
							padding 5px 11px 5px 11px
							position relative
							z-index 1
							
		.container-info-wrapper
			margin 80px 0 0 0
			
			.container
				container(920px)
				
				.title
					color kabul
					font-family ChaletParis
					font-size 36px
					margin 0 0 20px 0
					text-transform lowercase
						
