.page-template-sala-de-imprensa
	#m	
		.container-wrapper
			.container
				background-color white
				container(940px)
				padding-top 30px
				position relative
				z-index 1
				
				.press-room-grid-wrapper
					.portfolio
						.info
							.btn-download
								background-color transparent
								background-image url('assets/img/bg_download.png')
								
								&:after
									display none
									
